
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  color: black;
  direction: ltr;
}


.CodeMirror * {
  word-wrap: break-word;
  white-space: break-spaces;
  word-break: break-all;
  font-size: 14px;
}


.CodeMirror-linenumber {
  min-width: 30px;
  text-align: left;
}