
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 440px;
  color: black;
  direction: ltr;
}


.CodeMirror * {
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  font-size: 14px;
}